{{- $imageFile := slicestr (.src) (len "/assets/") -}}
{{- $aspectRatio := .aspectRatio -}}
{{- $image := resources.Get $imageFile -}}
{{- $imgSrc := "" -}}
{{- $imgSrcSet := slice -}}
{{- $imgSizes := slice -}}
{{- with $widths := site.Params.imageSizes -}}
    {{- if $image -}}
        {{- range $widths -}}
            {{- $width := . -}}
            {{- $srcUrl := false -}}
            {{- if $aspectRatio -}}
                {{- $srcUrl = (printf "%dx%d Center" $width ((mul $width $aspectRatio) | math.Round | cast.ToInt) | $image.Fill).RelPermalink -}}
            {{- else -}}
                {{- $srcUrl = (printf "%dx" $width | $image.Resize).RelPermalink -}}
            {{- end -}}
            {{- if eq $imgSrc "" -}}
                {{- $imgSrc = $srcUrl -}}
            {{- end -}}
            {{- $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $srcUrl .) -}}
            {{- $imgSizes = $imgSizes | append (printf "(max-width: %dpx) %dw" . .) -}}
        {{- end -}}
        {{- $imgSrcSet = (delimit $imgSrcSet ",") -}}
        {{- $imgSizes = (delimit $imgSizes ",") -}}
    {{- end -}}
{{- end -}}

{{- if $image -}}
    <img
        src="{{ $image.RelPermalink }}"
        {{ with .alt }} alt="{{ . }}" {{ end }}
        decoding="async"
        fetchpriority="high"
        srcset="{{ $imgSrcSet }}"
        sizes="{{ $imgSizes }}"
    />
{{- else -}}
    <img src="/img/file-circle-xmark-solid.svg" width="128px"/>
{{- end -}}